<div class="row">
  <div
    class="col-12 d-flex justify-content-center text-center mt-3"
    *ngIf="user"
  >
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">
          <span class="text-success"> UserName: </span>{{ user.name }}
        </p>
        <p class="card-text">
          <span class="text-success"> UserEmail: </span> {{ user.email }}
        </p>
        <p class="card-text">
          <span class="text-success"> UserCity: </span> {{ user.city }}
        </p>
      </div>
    </div>
  </div>
  <div class="text-center"><a routerLink="/users">Back To All Users</a></div>
</div>
